@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  background-color: rgba(191, 219, 254, 1);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  input {
    margin: 0.4rem;
  }

  button {
    border-radius: 8px;
    border: 1px solid black;
    cursor: pointer;
    font-weight: 500;
    font-family: inherit;
    padding: 0.6em 1.2em;
    transition: border-color 0.25s;
  }

  button:hover {
    border-color: #646cff;
    color: #646cff;
  }

  button:disabled {
    border-color: #7d7d85;
    color: #7d7d85;
  }

  h1 {
    font-size: 1.875rem;
    font-weight: 700;
    line-height: 2.25rem;
  }
}
